@import "normalize.css/normalize.css";

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.googleapis.com/css2?family=Open+Sans&display=swap);
}

html,
body,
#root{
  height: 100%;
  width: 100%;
  font-family: "Open Sans","Rubik", sans-serif;
}