/* Importing normalize.css to reset default browser styles */
@import url("https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css");

/* Importing the Open Sans font from Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");

/* Setting up the default styles for the page */
html,
body,
#root {
  height: 100%;
  width: 100%;
  font-family: "Open Sans", sans-serif;
  color: white;
}

/* Customizing the "notchedOutline" class for the MUI TextField component */
.MuiOutlinedInput-notchedOutline {
  border-radius: 8px 0 0 8px !important;
}
